<a href="https://colab.research.google.com/github/agusserraa98/datos-vivos/blob/main/rabajamos_con_d%C3%ADas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://github.com/nico-edvai/images/blob/main/header_edvai.jpg?raw=true)

# A partir del siguiente dataset del clima â˜€â›…ðŸŒ¦ðŸŒ§ obtener:


1.   Hallar el cantidad de lunes en todo el dataset (35 aÃ±os)
2.   Hallar el promedio de **Precipitation** durante todos los fines de semana (sabados y domingos) del dataset
3.   Hallar el promedio de **Longitude** durante todos los dÃ­as miÃ©rcoles del dataset

## Lo pueden resolver con R o Python

In [ ]:
import pandas as pd

In [ ]:
ruta = "https://raw.githubusercontent.com/nico-edvai/scipy-2022-salta/main/data/weatherdata--304-622.csv"
df_weather = pd.read_csv(ruta)
df_weather

,Date,Longitude,Latitude,Elevation,Max Temperature,Min Temperature,Precipitation,Wind,Relative Humidity,Solar,Unnamed: 10
0,1/1/1979,-62.1875,-30.442301,75,34.968,18.019,0.346756,3.459731,0.539945,32.456311,NaN
1,1/2/1979,-62.1875,-30.442301,75,32.055,21.653,10.099693,3.182952,0.810696,20.985752,NaN
2,1/3/1979,-62.1875,-30.442301,75,32.643,19.994,0.000000,3.529763,0.638956,28.406983,NaN
3,1/4/1979,-62.1875,-30.442301,75,33.438,19.572,0.000000,3.430782,0.480420,30.222842,NaN
4,1/5/1979,-62.1875,-30.442301,75,35.729,20.306,0.000000,3.149614,0.445070,30.734881,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12982,7/27/2014,-62.1875,-30.442301,75,15.938,5.081,0.000000,2.627763,0.639303,13.388504,NaN
12983,7/28/2014,-62.1875,-30.442301,75,20.470,6.121,0.000000,3.853856,0.698549,15.112251,NaN
12984,7/29/2014,-62.1875,-30.442301,75,22.072,12.764,0.209427,2.890072,0.785835,6.979922,NaN
12985,7/30/2014,-62.1875,-30.442301,75,18.200,15.068,2.204133,2.457414,0.827991,1.954017,NaN
12986,7/31/2014,-62.1875,-30.442301,75,22.298,15.538,1.692579,1.438762,0.841980,8.233861,NaN

In [ ]:
# Convierto el str Date en un objeto DateTime para poder usar sus propiedades
df_weather['Date'] = pd.to_datetime(df_weather['Date'])

In [ ]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12987 entries, 0 to 12986
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               12987 non-null  datetime64[ns]
 1   Longitude          12987 non-null  float64
 2   Latitude           12987 non-null  float64
 3   Elevation          12987 non-null  int64
 4   Max Temperature    12987 non-null  float64
 5   Min Temperature    12987 non-null  float64
 6   Precipitation      12987 non-null  float64
 7   Wind               12987 non-null  float64
 8   Relative Humidity  12987 non-null  float64
 9   Solar              12987 non-null  float64
 10  Unnamed: 10        0 non-null      float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 1.1 MB

### Pregunta 1

In [ ]:
# Recorro el dataset con el for y obtengo el dia con el metodo weekday, luego
# verifico si es lunes(dia = 0) 
count_lunes = 0;
count_miercoles = 0;
for i in range(len(df_weather)):
  dia = df_weather.iloc[i]["Date"].weekday()
  if dia == 0: # Si es lunes
    count_lunes = count_lunes +1 
print("Hay %d" % count_lunes)

Hay 1856

### Pregunta 2

In [ ]:
# Lo mismo que antes solamente que ahora la condicion son dos dias(sabados y domingos)
# voy acumulando las precipitaciones de cada dia y luego al total lo divido por 
# la cantidad de fines de semanas(count_findes/2 ya que contamos los dias y no
# los findes en si )
count_findes = 0;
findes = [5,6]; # dias sabados y domingos
precip_total = 0;
for i in range(len(df_weather)):
  dia = df_weather.iloc[i]["Date"].weekday()
  if dia in findes: # Si es lunes
    count_findes += 1
    precip_total += df_weather.iloc[i]["Precipitation"]

# Calculo precipitaciones promedio
precip_promedio_findes = precip_total / (count_findes/2) 
print("Las precipitaciones promedios durante los fines de semanas fueron %f" % precip_promedio_findes)

Las precipitaciones promedios durante los fines de semanas fueron 4.427646